*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}


.background{
	width: 100%;
	/*background-color: #f5f5f5;*/
	background-color: transparent;
	/*border: 1px solid #eee;*/
	border: none;
}

.top{
	height: 160px;
	width: 100%;
	background-color: #fff;
}

.ttop{
	text-align: center;
	height: 100px;
	width:100%;
}

.ttop li{
	display: inline-block;
	list-style-type: none;
	float:left;
	line-height: 100px;
	text-align: center;
}

.a{
	width: 10%;
}
.b{
	width: 80%;
}

.tbottom{
	text-align: center;
	height: 30px;
	width:100%;
	background-color: transparent;
	/*background: white;*/
}
.tbottom a{
	color: black;
	font-family: "微软雅黑";
}
.tbottom li{
	display: inline-block;
	list-style-type: none;
	float:left;
	line-height: 20px;
	width: 25%;
	font-size: 20px;
	margin-left: 5%;
	text-align: left;
}

.form{
	display: inline-block;
	height: 45px;
	width: 100%;
	/*background-color: #fff;*/
}

.xuanze{
	padding-top: 2px;
	padding-bottom: 5px;
	height: 30px;
	text-align: left;
	font-size: 100%;
	/*font-size: 24px;*/
	background: url(../img/arrow.jpg) no-repeat right;
	background-size: 12px;
	background-color: white;
	border: 0;
	border-radius: 10%;
	/*padding-right: 50%;*/
	padding-left: 1px;
}


.form div{
	text-align: left;
	display: inline-block;
	height: 30px;
}

.f1{
	width: 20%;
	margin-left: 5%;
}

.f2{
	width: 35%;
	margin-left: 5%;
}

.f3{
	width: 20%;
	margin-left: 5%;
}

.content{
	width:100%;
	/*height: 1000px;*/
	background-color: #ffffff;
	border: none;
}

table{
	background-color: #ffffff;
	/*margin:auto;*/
	width: 100%;
	/*height:30px;*/
	text-align: left;
	border: none;
	border-color: transparent;
}


/*table tr th{
	padding-left: 2%;
	width:20%;	
}

table tr td{
	padding-left: 2%;
	width:20%;
	/*text-align:left;*/
}*/
.rank{
	width:10%;
	/*text-align: left;*/
}
.player{
	width:30%;
	padding-right: 5%;
	/*text-align: left;*/
}
.country{
	width:20%;
	padding-right: 5%;
	text-align: center;
}
.score{
	text-align: center;
	width:15%;
}

.xian{
	width: 100%;
	height: 20px;
}

.bottom{
	background-color: #fff;
	width:100%px;
	height: 130px;
}

.bottom li{
	display: inline-block;
	list-style-type: none;
	float:left;
	line-height: 20px;
	width: 33%;
	text-align: center;
}

.bottom li a img{
	height: 100px;
	width: 50%;
}

.bottom li a span{
	display: block;
}


